<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<script src="http://code.jquery.com/jquery-latest.min.js"></script>
<title>Insert title here</title>
</head>
<body>
<h1>게시글 상세 조회</h1>
<div>
	<table border="1">
		<caption>0번 글 상세</caption>
		<tbody>
			<tr>
				<td colspan="1">제목</td>
				<td colspan="3">안녕하세요</td>
			</tr>
			<tr>
				<td>작성자</td>
				<td>user00</td>
				<td>작성일</td>
				<td>2023-12-02</td>
			</tr>
			<tr>
				<td colspan="4" align="center" bgcolor="lightgray">내용</td>
			</tr>
			<tr>
				<td colspan="4">반가워요~^^</td>
			</tr>
		</tbody>
		<tfoot>
			<tr>
				<td colspan="4" align="center" bgcolor="lightgray">댓글 리스트</td>
			</tr>
			<tr id="boardCmtDiv">
				<td colspan="4">
					<input type="text" placeholder="첫 댓글의 주인공이 되세요!">
					<button>등록</button>
				</td>
			</tr>
<!-- 			<tr> -->
<!-- 				<td colspan="4"> -->
<!-- 					user00: 하이하이 23.11.13<br> -->
<!-- 					&nbsp&nbsp&nbspㄴuser00: 하이하이 2023-12-02 17:45:22<br> -->
<!-- 					&nbsp&nbsp&nbsp&nbsp&nbsp&nbspㄴuser00: 하이하이 2023-12-02 17:45:22<br> -->
<!-- 					&nbsp&nbsp&nbspㄴuser00: 하이하이 2023-12-02 17:45:22<br> -->
<!-- 					&nbsp&nbsp&nbsp&nbsp&nbsp&nbspㄴuser00: 하이하이 2023-12-02 17:45:22<br> -->
<!-- 				</td> -->
<!-- 			</tr> -->
		</tfoot>
	</table>
</div>
<script>

var getBoardCmtList = function(){
	$.ajax({
		type : 'get',
		url : '/comment',
		data : {bno : 0},
		success : function(cmtList){
			console.log(cmtList);
			
			if(cmtList != null && cmtList.length > 0){
				$(cmtList).each(function(){
					console.log(this);
				});
			}else{
				$('#boardCmtDiv').html('');
			}
		},
		error : function(){
			console.log('error >>> getBoardCmtList();')
		}
	});
};

$(function(){
	getBoardCmtList();
});
</script>
</body>
</html>