<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<h1>회원가입 페이지</h1>
<hr>
<form action="/join" method="post">
	<input type="text" name="username" placeholder="username"><br>
	<input type="password" name="password" placeholder="password"><br>
	<input type="text" name="email" placeholder="email"><br><br>
	
	<input type="radio" id="user" name="role" value="u">
	<label for="user">유저</label>
	<input type="radio" id="manager" name="role" value="m">
	<label for="manager">매니저</label>
	<input type="radio" id="admin" name="role" value="a">
	<label for="admin">관리자</label><br><br>
	<button>회원가입</button>
</form>
</body>
</html>